@import '~bootstrap/scss/bootstrap';

@keyframes colorchange {
  0% {background-color: #f5f5f5;}
  25% {background-color: #caede0;}
  50% {background-color: coral;}
  75% {background-color: lightblue;}
  100% {background-color: #f5f5f5;}
}

body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  margin: auto;
}

button {
  margin-left: 15px;
}

form {
  padding: 10px;
}

header {
  animation: colorchange 10s infinite;
  background-color: #caede0;
  text-align: center;
}

p {
  font-size: 30px;
}

.col-4 {
  border: 2px solid #525252;
  font-size: 12vh;
  height: 25vmin;
  max-width: calc(100%/3);
  text-align: center;
}

.row {
  height: 100%;
}

.container {
  margin: auto;
  padding: 10px 20px;
}

.failure {
  border: 2px solid red;
  color: red;
  font-size: 5vh;
  text-align: center;
}

.success {
  border: 2px solid green;
  color: green;
  font-size: 5vh;
  text-align: center;
}

#games-length {
  font-size: 3rem;
  height: 100px;
  text-align: center;
}

#gameboard-message {
  font-size: 5vw;
  height: 90px;
  margin: 20px 0;
  text-align: center;
}

#hide {
  display: none;
}

#hideUntilNewGame {
  display: none;
}

#hideUntilGames {
  display: none;
}
