@import '~bootstrap/scss/bootstrap';

.box {
  border: 1px solid #000;
  font-size: 6rem;
  height: 125px;
  text-align: center;
  width: 100px;
}

.container {
  margin: 15 auto;
  padding: 10px 25px;
}

.failure {
  color: red;
  border: 2px solid red;
}

.success {
  color: green;
  border: 2px solid green;
}

#games-length {
  font-size: 3rem;
  height: 100px;
  text-align: center;
}

#gameboard-message {
  font-size: 3rem;
  height: 100px;
  text-align: center;
}

#hide {
  display: none;
}

#hideUntilNewGame {
  display: none;
}

#hideUntilGames {
  display: none;
}
